.calc-row {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.calc-button {
    width: 100px;
    height: 100px;
}

.calc-operator {
    background-color: orange;
}

#0 {
    background-color: red;
}